@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

.wrapper2 {
  max-width: 90%;
  min-height: 100%;
  margin: 80px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 13px 13px 20px rgb(90, 88, 88), -13px -13px 20px #fff;
}

.wrapper2 .main {
  background-color: #0a81ff;
  text-align: center;
  font-size: 3rem;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.wrapper2 .form-field input {
  margin-top: 1rem;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: black;
  padding: 10px 15px 10px 10px;
}

.wrapper2 .form-field {
  width: 30%;
  margin-top: 5px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 5px;
  border-radius: 15px;
  box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #cbced1;
}
.wrapper2 .btn {
  
  margin-left: 27rem;
  margin-top: 2rem;
  width: 30%;
  height: 40px;
  background-color: #0a81ff;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;margin-bottom: 1rem;
}
.wrapper2 .grid-container {
  display: grid;
  grid-template-columns: 60% 60% ;
  background-color: white;
  /* padding: 10px; */
}
.wrapper2 .grid-container .grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
 
}
