@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

.wrapper1 {
    max-width: 1200px;
    min-height: 100%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 13px 13px 20px rgb(90, 88, 88), -13px -13px 20px #fff;
}

.wrapper1 .row .column .rem{
   
    margin-top: 2rem;
    
    text-align: center;
    font-size: 3rem;
  
    
    color: white;
    
   
}
/* .wrapper1 .row .column .reg{
   
    margin-top: 2rem;
    margin-left: 3rem;
   
    
    text-align: center;
    font-size: 1rem;
  
    
    color: white;
    
   
} */

/* .wrapper1 .row .column .nan{
   
    margin-top: 3rem;
    margin-left: 3rem; 
    
     text-align: center;
    font-size: 1rem; 
  
    
    color: white;
    
   
} */
.wrapper1 .row .column .log{
   
    margin-top: 99%;
    margin-bottom: 1%;
    margin-left: 10rem;
    
    font-size: 1rem;
  
    
    color: white;
    
   
}

